/* Background */ .bg { color:#000; }
/* PreWrapper */ .chroma { color:#000; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* CodeLine */ .chroma .cl {  }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#e5e5e5 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#f00 }
/* KeywordConstant */ .chroma .kc { color:#f00 }
/* KeywordDeclaration */ .chroma .kd { color:#f00 }
/* KeywordNamespace */ .chroma .kn { color:#f00 }
/* KeywordPseudo */ .chroma .kp { color:#f00 }
/* KeywordReserved */ .chroma .kr { color:#f00 }
/* KeywordType */ .chroma .kt { color:#f00 }
/* Name */ .chroma .n { color:#00f }
/* NameAttribute */ .chroma .na { color:#00f }
/* NameBuiltin */ .chroma .nb { color:#00f }
/* NameBuiltinPseudo */ .chroma .bp { color:#00f }
/* NameClass */ .chroma .nc { color:#00f }
/* NameConstant */ .chroma .no { color:#00f }
/* NameDecorator */ .chroma .nd { color:#00f }
/* NameEntity */ .chroma .ni { color:#00f }
/* NameException */ .chroma .ne { color:#00f }
/* NameFunction */ .chroma .nf { color:#00f }
/* NameFunctionMagic */ .chroma .fm { color:#00f }
/* NameLabel */ .chroma .nl { color:#00f }
/* NameNamespace */ .chroma .nn { color:#00f }
/* NameOther */ .chroma .nx { color:#00f }
/* NameProperty */ .chroma .py { color:#00f }
/* NameTag */ .chroma .nt { color:#00f }
/* NameVariable */ .chroma .nv { color:#00f }
/* NameVariableClass */ .chroma .vc { color:#00f }
/* NameVariableGlobal */ .chroma .vg { color:#00f }
/* NameVariableInstance */ .chroma .vi { color:#00f }
/* NameVariableMagic */ .chroma .vm { color:#00f }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s {  }
/* LiteralStringAffix */ .chroma .sa {  }
/* LiteralStringBacktick */ .chroma .sb {  }
/* LiteralStringChar */ .chroma .sc {  }
/* LiteralStringDelimiter */ .chroma .dl {  }
/* LiteralStringDoc */ .chroma .sd {  }
/* LiteralStringDouble */ .chroma .s2 {  }
/* LiteralStringEscape */ .chroma .se {  }
/* LiteralStringHeredoc */ .chroma .sh {  }
/* LiteralStringInterpol */ .chroma .si {  }
/* LiteralStringOther */ .chroma .sx {  }
/* LiteralStringRegex */ .chroma .sr {  }
/* LiteralStringSingle */ .chroma .s1 {  }
/* LiteralStringSymbol */ .chroma .ss {  }
/* LiteralNumber */ .chroma .m {  }
/* LiteralNumberBin */ .chroma .mb {  }
/* LiteralNumberFloat */ .chroma .mf {  }
/* LiteralNumberHex */ .chroma .mh {  }
/* LiteralNumberInteger */ .chroma .mi {  }
/* LiteralNumberIntegerLong */ .chroma .il {  }
/* LiteralNumberOct */ .chroma .mo {  }
/* Operator */ .chroma .o { color:#f00 }
/* OperatorWord */ .chroma .ow { color:#f00 }
/* Punctuation */ .chroma .p { color:#f00 }
/* Comment */ .chroma .c { color:#008000 }
/* CommentHashbang */ .chroma .ch { color:#008000 }
/* CommentMultiline */ .chroma .cm { color:#008000 }
/* CommentSingle */ .chroma .c1 { color:#008000 }
/* CommentSpecial */ .chroma .cs { color:#008000 }
/* CommentPreproc */ .chroma .cp { color:#963200 }
/* CommentPreprocFile */ .chroma .cpf { color:#963200 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
